-- Simulates a CREATE DATABASE IF NOT EXISTS.
-- This command does not exists in postgres databases.
SELECT 'CREATE DATABASE sobek_wa_db'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'sobek_wa_db');

alter database sobek_wa_db set timezone to 'Europe/Paris';

CREATE USER sobek_wa_admin WITH PASSWORD 'postgres_key_to_replace';
GRANT ALL PRIVILEGES ON DATABASE sobek_wa_db TO sobek_wa_admin;
ALTER DATABASE sobek_wa_db OWNER TO sobek_wa_admin;